APP__DEBUG=false
APP__JWT_SECRET=SAJlskdjflkZSJDKLJHkjhKJHKJSDkfjhSLKdhf1243kjKLsdf9dsfh98H
APP__SUPERUSER_TOKEN=asdjhfklkajsdfASDkfhLAKJShfLUIASbdlIAUsdkjASBDlasdiui

XUI__API_KEY=OnSigApcpTQP39VLIZpIJsdklfkalsjdlfC
XUI__URL=https://12.12.12.123:12345/AbCd
XUI__SUB_URL=https://12.12.12.123:12345/sub

TIMEWEB__TOKEN=jhkALSd.ASjklhsdjlkHASKJLkjAKShdhAKSHdlkjHASLKd.ashjdhlakjshdklas
TIMEWEB__PAYER_ID=7861263