APP__DEBUG=false
APP__JWT_SECRET=change-me
APP__SUPERUSER_TOKEN=change-me

SQLITE_WEB_PASSWORD=change-me

XUI__API_KEY=change-me
XUI__URL=https://12.12.12.123:12345/AbCd
XUI__SUB_URL=https://12.12.12.123:12345/sub

TIMEWEB__TOKEN=change-me
TIMEWEB__PAYER_ID=12345

CHECK_INTERVAL_SEC=30
SQLITE_WEB_PORT=8081
APP_PORT=8000